<div class="page-container detail-container">
  <a href="/dashboard" class= "button">Volver</a>
  <div class="flight-card">
    <div class="card-header">
      <h2>Ficha Técnica de Vuelo</h2>
      <h1>{{ callsign | uppercase }}</h1>
    </div>

    <div class="card-body">
      @if (cargando) {
        <p>Rastreando señal de la aeronave...</p>
      } @else if (vuelo) {
        <div class="card-grid">
          <div>
            <p><strong>País de Registro:</strong><br> {{ vuelo.pais }}</p>
            <p><strong>Altitud:</strong><br> {{ vuelo.altitud }} metros</p>
            <p><strong>Velocidad:</strong><br> {{ vuelo.velocidad }} km/h</p>
            <p><strong>Rumbo/Dirección:</strong><br> {{ vuelo.direccion }}°</p>
          </div>
          <div>
            <p><strong>Transponder (ICAO24):</strong><br> <code>{{ vuelo.icao24 }}</code></p>
            <p><strong>Latitud:</strong><br> {{ vuelo.latitud }}</p>
            <p><strong>Longitud:</strong><br> {{ vuelo.longitud }}</p>
            <p><strong>Estado:</strong><br> 
              @if (vuelo.enTierra) {
                <span class="badge badge-ground">EN TIERRA</span>
              } @else {
                <span class="badge badge-flight">EN VUELO</span>
              }
            </p>
          </div>
        </div>
        
        <hr>
        <p class="card-footer-text">
          Último reporte de telemetría: {{ vuelo.ultimaActualizacion | date:'medium' }}
        </p>
      } @else {
        <div>
          <p>Aeronave fuera de alcance</p>
          <p>El vuelo {{ callsign }} no fue detectado en el barrido actual del radar regional.</p>
        </div>
      }
    </div>
  </div>
</div>